In [1]:
#Q1
#Database is a organised collection of information stored in computer in electronic form.
#Difference between SQL and NoSQL is that in SQL there is have relational databases whereas
# in NoSQL there is no relation between the data.

In [2]:
#Q2
# DDL is Data Definition Language which is used to define and organise data in many ways.
# There are 4 DDL commands, which are
# CREATE - it is used to create a table
# DROP - it is used to delete the entire table
# ALTER - it is used to modify the data inside the table
# TRUNCATE - it is used to delete all the data inside the table

In [4]:
#Q3
# DML is Data Manipulation Languauge which is used to manipulate the exisiting data.
# There are 4 commands for DML
# UPDATE - it modifies data of one or more records
# INSERT - it adds one or more records to a database table
# DELETE - it removes one or more records from a table

In [5]:
#Q4
# DQL is Data Query Language which is used to perform queries on data.
# SELECT is a statement which is used to select the specified columns or whole table.

In [6]:
#Q5
# Primary key is the one whcih is unique in the table and there cannot be a duplicate of it.
# Forign key the primary key of the another table.

In [9]:
#Q6
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()

In [11]:
#Q7
# FROM and JOIN
# WHERE
# GROUP BY
# HAVING
# SELECT
# DISTINCT
# ORDER BY